/*******************
** FullScreen #GA **
**    BuGsounet   **
********************/

#GA_DOM {
  background-image: url(./resources/GA_Big.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

#GA {
  height:11%;
  border:none;
  border-radius: 20px;
  background-color:#f3f3f3;
  transition: opacity 0.5s linear;
  position: absolute;
  width: 100%;
}

#GA.rotate {
  height:6%;
}

#GA.rotate_above {
  width:100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  border: none;
  height: 6%;
  z-index:99998;
}

#GA.fullscreen_above {
  width:100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  border: none;
  height: 10%;
  z-index:99998;
}

#GA.in.fullscreen_above {
  animation-duration: 0.25s;
  animation-name: fadeInDown;
}

#GA.out.fullscreen_above {
  animation-duration: 0.5s;
  animation-name: fadeOutUp;
}

#GA.in {
  opacity: 1;
}

#GA.out {
  opacity: 0;
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -100%, 0);
  }
}

#GA.hidden {
  display: none
}

#GA_STATUS {
  -webkit-flex: none;
          flex: none;
  width:100px;
  margin-top:4px;
  margin-left:4px;
  margin-right: 10px;
  border-radius: 20px;
  background-color:#f3f3f3;
}

#GA_STATUS.reply {
  background-image:url('./resources/reply.gif');
  background-position: -60px;
  background-repeat: no-repeat;
  background-size: 230%;
}

#GA_STATUS.error {
  background-image:url('./resources/error.gif');
  background-position: -60px;
  background-repeat: no-repeat;
  background-size: 230%;
}

#GA_STATUS.think {
  background-image:url('./resources/think.gif');
  background-position: -60px;
  background-repeat: no-repeat;
  background-size: 230%;
}

#GA_STATUS.continue {
  background-image:url('./resources/continue.gif');
  background-position: -60px;
  background-repeat: no-repeat;
  background-size: 230%;
}

#GA_STATUS.listen {
  background-image:url('./resources/listen.gif');
  background-position: -60px;
  background-repeat: no-repeat;
  background-size: 230%;
}

#GA_STATUS.confirmation {
  background-image:url('./resources/confirmation.gif');
  background-position: -60px;
  background-repeat: no-repeat;
  background-size: 230%;
}

#GA_STATUS.standby {
  background-image:url('./resources/standby.gif');
  background-position: 0 2px;
  background-repeat: no-repeat;
  background-size: contain;
}

#GA_STATUS.hook {
  background-image:url('./resources/hook.gif');
  background-position : -46px -20px;
  background-repeat: no-repeat;
  background-size: 195%;
}

#GA_TRANSCRIPTION {
  flex: 1 1 auto;
  vertical-align: top;
  background-color:#f3f3f3;
  text-align: left;
  overflow: hidden;
}

#GA_TRANSCRIPTION p {
  color:#7b858e;
  margin-top: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#GA_TRANSCRIPTION.hidden {
  display: none
}

#GA_LOGO {
  -webkit-flex: none;
          flex: none;
  width: 150px;
  margin-top: 2px;
  margin-left: 5px;
  border-radius: 20px;
  background-color:#f3f3f3;
  background-image:url('./resources/GA_Small.png');
  background-position : 2px -5px;
  background-repeat: no-repeat;
  background-size: 90%;
 }

#GA_CONTENER {
 height : 100%;
 width : 100%;
 display: flex;
}

/*** Helper windows ***/


#GA_HELPER {
  position:absolute;
  width:100%;
  height:100%;
  bottom:0;
  display:block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

#GA_HELPER.fullscreen_above {
  position:fixed;
  height:90%;
  overflow:auto;
  border:none;
  top:10%;
  left:0;
  z-index:99998;
}

#GA_HELPER.hidden {
  opacity: 0;
}

#GA_RESULT_WINDOW {
  position:absolute;
  width:100%;
  height:100%;
  bottom:0;
  display:block;
}

#GA_SCREENOUTPUT {
  width:100%;
  height:100%;
  display:block;
  border:none;
}
