/******************
**   GA css v3   **
**   BuGsounet   **
*******************/

/** Main background for fullscreen **/
#GA_DOM {
  background-image: url(./resources/GA_Big.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

/** popup display windows **/
#GA {
  z-index:99998;
}

#GA-popout {
  bottom:0;
  box-sizing:border-box;
  font-family:"Roboto",sans-serif;
  font-size:40px;
  -webkit-font-smoothing:antialiased;
  position:absolute;
  overflow:hidden;
  width:100%;
}
#GA-popout div {
  font-family:'Roboto',arial,sans-serif
}

#GA-assistant-bar {
  display:flex;
  background-color:rgba(33,33,33,.99);
  height:144px;
  padding:0 112px 0 112px;
  width:100%;
  box-sizing:border-box;
  white-space:nowrap;
}
.GA-assistant_response {
  color:#ffffff;
  font-size:30px;
  margin:auto 0px;
  text-overflow: ellipsis;
  overflow: auto;
}
.GA-assistant-word-icon {
  height:55px;
  margin:auto 0px auto auto
}
.GA-assistant_icon {
  margin-left: -70px;
  Zoom: 35%;
}
.GA-bar_icon {
  height:55px;
  width:280px;
  object-fit:contain;
}
.lockup_logo{
  margin:8px 0 0 0;
  height:55px;
}

#GA.in {
  visibility: visible;
  opacity: 1;
}

#GA.out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#GA.hidden {
  display: none
}

/*** Result Window ***/

#GA-Result {
  position:absolute;
  width:100%;
  height: 95%;
  bottom: 144px;
  display:block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

#GA-Result.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#GA-ResultOuput {
  width:100%;
  height:100%;
  display:block;
  border:none;
}

/** A2D css **/

#A2D {
  position:fixed;
  width:100%;
  height:100%;
  overflow:auto;
  border:none;
  top:0;
  left:0;
  z-index:99999;
}

#A2D.hidden {
   display:none;
}

#A2D_WINDOW {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#A2D.hidden #A2D_WINDOW {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#A2D_OUTPUT {
    order: 1;
    flex: 1 1 auto;
    border: none;
}

#A2D_OUTPUT.hidden {
   display:none;
}

#A2D_PHOTO {
    order: 1;
    flex: 1 1 auto;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
}

#A2D_PHOTO.hidden {
   display:none;
}

#A2D_YOUTUBE {
    width: 100%;
    height: 100%;
}

#A2D_YOUTUBE.hidden {
  display:none;
}

/** Sub-Modules css **/

#A2D_RADIO,
#A2D_SCREEN,
#A2D_INTERNET {
  font-size: large;
  display: flex;
  line-height: 1.5em;
}

#A2D_PRESENCE {
  font-size: large;
  display: flex;
  line-height: 1.5em;
  justify-content: center;
}

#A2D_BAR {
  margin-top: 15px;
}

#A2D_BAR.hidden,
#A2D_RADIO.hidden,
#A2D_SCREEN.hidden,
#A2D_PRESENCE.hidden,
#A2D_INTERNET.hidden {
  display: none;
}

#A2D_SCREEN_TEXT,
#A2D_INTERNET_TEXT,
#A2D_PRESENCE_TEXT {
  margin-right: 10px;
}

#A2D_RADIO_IMG {
  height: 100px;
  width: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0;
  margin-left: auto;
  margin-right: auto;
}

#A2D_SCREEN_BAR {
  font-size: large;
}

#A2D_SCREEN_BAR.Line {
  height: 40px;
}

#A2D_SCREEN_BAR.Circle {
  width: 100px;
  height: 93px;
  /* top: 10px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#A2D_SCREEN_BAR.SemiCircle {
  width: 100px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#A2D_SCREEN_BAR.Bar {
  margin-bottom:4px;
  height: 4px;
  width: 100%;
  position:relative;
}

/** Spotify css**/

#A2D_SPOTIFY {
  position: relative;
  border-radius:10px;
  box-sizing:border-box;
  color:#EEE;
  font-weight:normal;
  font-size:18px;
  text-align:left;
  line-height:120%;
  text-shadow:black 2px 2px 2px;
  width: 100%;
  margin-bottom: 5px;
}

#A2D_SPOTIFY_FOREGROUND {
  position:relative;
  filter:none;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  box-sizing:border-box;
  flex-direction:row;
  justify-content: space-between;
  padding:0;
}

#A2D_SPOTIFY_COVER {
  margin-bottom:0.5vh;
  position: relative;
  width:75px;
  height:75px;
  padding:0;
  /*z-index:1;*/
}

#A2D_SPOTIFY_COVER_IMAGE {
  width:100%;
  box-shadow:black 1px 1px 1px 1px;
  height:75px;
  border-radius:0px;
}

#A2D_SPOTIFY_PROGRESS_BAR {
  position: relative;
  width: 100%;
  height: 2px;
  border: 0px transparent;
  margin-bottom: 5px;
}

progress[value]#A2D_SPOTIFY_PROGRESS_BAR::-webkit-progress-value {
  background-color: #FFF;
}

progress[value]#A2D_SPOTIFY_PROGRESS_BAR::-webkit-progress-bar {
  background-color: #666;
}

#A2D_SPOTIFY_CONTROL_PLAY {
  display: inline-block;
  margin: auto;
  width: 50px;
}

#A2D_SPOTIFY_MISC {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  overflow: hidden;
  width:calc(100% - 75px - 50px);
}

#A2D_SPOTIFY_INFO {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  height: 70%;
  justify-content: center;
  align-items: center;
  width: initial;
}

#A2D_SPOTIFY_TITLE {
  font-weight: bold;
}

#A2D_SPOTIFY_LOGO {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#A2D_SPOTIFY_INFO_FOOTER {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: flex-end;
}

#A2D_SPOTIFY_COVER_IMAGE.fade-in {
  animation: fadeInOpacity 1s 1;
  animation-timing-function: linear;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#A2D_SPOTIFY.bottomIn {
  animation-duration: 1s;
  animation-name: fadeInBottom;
}

#A2D_SPOTIFY.bottomOut {
  animation-duration: 1s;
  animation-name: fadeOutBottom;
  animation-fill-mode: forwards;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 200%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutBottom {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 200%, 0);
  }
}

#A2D_SPOTIFY .text {
  width: inherit;
  margin-right: 0.5em;
  white-space: nowrap;
  display:inline-block;
  font-size: 1em;
}

#A2D_SPOTIFY .iconify {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 0px;
}

#A2D_SPOTIFY .infoicon {
  margin-right: 8px;
}

#A2D_SPOTIFY_VOLUME .mdi {
  font-size: 20px;
}

#A2D_SPOTIFY.pausing #A2D_SPOTIFY_CONTROL_PLAY,
#A2D_SPOTIFY.pausing #A2D_SPOTIFY_COVER_IMAGE,
#A2D_SPOTIFY.pausing #A2D_SPOTIFY_PROGRESS_BAR,
#A2D_SPOTIFY.pausing #A2D_SPOTIFY_MISC {
  filter:brightness(50%) grayscale(75%);
}

#A2D_SPOTIFY.inactive {
  display:none;
}

#TEXT_BULLET {
  margin-right: 0.5em;
  white-space: nowrap;
  display:inline-block;
  color: grey;
}

/* spotify mini */
/* style "mini" */
#A2D_SPOTIFY.mini {
  width: 360px;
  font-size: 16px;
  height: auto;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_BACKGROUND {
  background-size: cover;
  background-position: center center;
  filter: blur(16px) opacity(90%) grayscale(33%);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_FOREGROUND {
  flex-direction:row;
  padding:0;
}

#A2D_SPOTIFY.mini .mdi {
  font-size: 14px;
}

#A2D_SPOTIFY.mini .infoicon {
  margin-right: 6px;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_COVER {
  width:140px;
  height:140px;
  padding:0;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_COVER_IMAGE {
  height:140px;
  border-radius: 20px;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_MISC {
  display: unset;
  flex-direction: initial;
  justify-content: initial;
  margin-left: initial;
  margin-right: initial;
  overflow: initial;
  width: initial;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_INFO {
  width:220px;
  padding-left:10px;
  margin-top:5px;
    display: block;
    flex-direction: initial;
    height: auto;
    justify-content: initial;
    align-items: initial;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_INFO > * {
  display: flex;
  justify-content: flex-start;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_INFO .text {
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display:inline-block;
  margin-left: -5px;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_PROGRESS_BAR {
  margin:5px;
  width: 95%;
  border: 1px solid #aaaaaa;
  height: 10px;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_PROGRESS_TIME {
  display:none;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_VOLUME {
  margin-left: 10px;
}



#A2D_SPOTIFY.mini #A2D_SPOTIFY_LOGO {
  position: relative;
  text-align: center;
  left: auto;
  transform: none;
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_VOLUME .infoicon {
  margin-right: 3px;
  text-shadow: black 2px 2px 2px;
  align-items: center;
  text-align: center;
  line-height: inherit;
  font-size: 17px
}

#A2D_SPOTIFY.mini #A2D_SPOTIFY_INFO .infoicon {
  width: 23px;
  margin-right: 10px;
  text-shadow: black 2px 2px 2px;
  align-items: center;
  text-align: center;
  line-height: inherit;
}
