.bg-gradient-top {
  background: linear-gradient(-90deg, #212121, #191919 100%);
}

.bg-gradient-left {
  background: linear-gradient(0deg, #212121, #191919 100%);
}

.bg-google-grey-21 {
  background-color: #212121;
}

.bg-google-grey-19 {
  background-color: #191919;
}

.bg-google-grey-19-needed {
  background-color: #191919 !important;
}

.bg-google-blue {
  background-color: #4885ed;
}

.bg-google-red {
  background-color: #db3236;
}

.bg-google-green {
  background-color: #3cba54;
}

.bg-google-yellow {
  background-color: #f4c20d;
}

.text-google-red {
  color: #db3236;
}

.text-google-red-needed {
  color: #db3236 !important;
}

.text-google-green {
  color: #3cba54;
}

.text-google-green-needed {
  color: #3cba54 !important;
}

.text-google-yellow {
  color: #f4c20d;
}

.text-google-blue {
  color: #4885ed;
}

.text-google-blue-needed {
  color: #4885ed !important;
}

.text-grey {
  color: grey;
}

.text-google-white {
  color: #ffffff;
}

.text-overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody#PluginsTable tr:nth-child(even) {
  background-color: #000;
}

#pleaserotate-graphic {
  fill: #4885ed;
}

#pleaserotate-backdrop {
  color: #3cba54;
  background-color: #212121;
}

.ratio-del::before {
  padding-top: var(--bs-aspect-ratio);
  content: "";
  display: none;
}

