#ipi-table > thead > tr, #ipi-table > thead > tr > td {
  font-size: .9em;
  font-weight: 400;
  background: #000;
  text-transform: uppercase;
  color: #ffffff;
}

#ipi-table > tbody > tr > td {
  max-height: 200px;
  vertical-align: middle!important;
}

.tablesorter-bootstrap:not(.table-dark) > tbody > tr.odd > td, .tablesorter-bootstrap:not(.table-dark) > tbody > tr.tablesorter-hasChildRow.odd:hover ~ tr.tablesorter-hasChildRow.odd ~ .tablesorter-childRow.odd > td {
  background-color: #212121 !important;
}

.tablesorter-bootstrap:not(.table-dark) > tbody > tr.even > td, .tablesorter-bootstrap:not(.table-dark) > tbody > tr.tablesorter-hasChildRow.even:hover ~ tr.tablesorter-hasChildRow.even ~ .tablesorter-childRow.even > td {
  background-color: #191919 !important;
}

thead, tbody, tfoot, tr, td, th {
  border-style: none;
}

#TableSorterCard {
  background-color: #000;
  border-width: 0px;
}

.btn.btn-danger.btn-sm {
  background-color: #db3236;
}

.btn.btn-primary.btn-sm {
  background-color: #4885ed;
}

.btn.btn-success.btn-sm {
  background-color: #3cba54;
}

.btn.btn-warning.btn-sm {
  background-color: #f4c20d;
}

