a {
  color: #6d8de1;
}

#footer a:active, a:hover {
  color: #fcf8f8;
  text-decoration: none;
  font-weight: bold;
}

.center {
  padding-bottom: 55px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #4e4e4e;
  font-family: "Open Sans";
  font-weight: 600;
}

.lead {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

p {
  margin: 0 0 10px;
}

.pricing-table {
  padding: 70px 0;
}

.center {
  padding-bottom: 55px;
  text-align: center;
}

.center h2 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #4e4e4e;
  font-family: "Open Sans";
  font-weight: 600;
}

.lead {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.plan {
  margin-bottom: 70px;
  position: relative;
}

.pricing-area ul {
  background: #212121;
  margin: 0;
  padding: 0;
}

.pricing-area li {
  background: #191919;
}

.pricing-area .heading {
  margin-left: -10px;
  border-radius: 2px 2px 0 0;
  padding: 17px 0;
}

.pricing-area ul li {
  font-size: 16px;
  font-weight: 400;
  list-style: outside none none;
  padding: 15px 0;
  color: #666666;
}

.pricing-area h1, .pricing-area .price {
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 36px;
  color: #ffffff;
}

.pricing-area .price {
  font-size: 18px;
  font-weight: 700;
}

.pricing-area ul li:nth-child(2n) {
  background: #191919 none repeat scroll 0 0;
}

.plan-action {
  height: 42px;
}

.pricing-area .price.red .heading, .pricing-area .price.red .plan-action .btn {
  background: #db3236 none repeat scroll 0 0;
  color: #ffffff;
}

.pricing-area .price.green .heading, .pricing-area .price.green .plan-action .btn {
  background: #3cba54 none repeat scroll 0 0;
  color: #ffffff;
}

.pricing-area .price.grey .heading, .pricing-area .price.grey .plan-action .btn {
  background: #858796 none repeat scroll 0 0;
  color: #ffffff;
}

.pricing-area .price.blue .heading, .pricing-area .price.blue .plan-action .btn {
  background: #127af3 none repeat scroll 0 0;
  color: #ffffff;
}

.pricing-area .price.yellow .heading, .pricing-area .price.yellow .plan-action .btn {
  background: #f4c20d none repeat scroll 0 0;
  color: #ffffff;
}

.pricing-area .price.default .heading, .pricing-area .price.default .plan-action .btn {
  background: #5c5c5c none repeat scroll 0 0;
  color: #ffffff;
}

.pricing-area .plan {
  margin-bottom: 70px;
  position: relative;
}

.pricing-area .plan-action .btn {
  color: #ffffff;
  margin-top: 5px;
  padding: 5px 20px;
  position: relative;
}

.pricing-area img {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 1;
}

.error:before {
  color: #fff;
  background: #212121;
}

.error:after {
  color: #fff;
  background: #212121;
}

