<html>
  <body>
    <div id="GoogleAssistant_YT_Player"></div>

    <script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
      function onYouTubeIframeAPIReady() {
        this.playerVars= {
          autoplay:1,
          controls: 0,
          hl: "fr",
          enablejsapi: 1,
          rel: 0,
          cc_load_policy: 0,
          showinfo: 0,
          disablekb: 1,
          fs: 0,
          iv_load_policy:3,
          modestbranding: 1,
          //origin: 'http://localhost:8080'
          //host: 'https://www.youtube.com'
        }
        console.log("player ready...")
        var player;
        this.player = new YT.Player('GoogleAssistant_YT_Player', {
          width: "100%",
          height: "100%",
          videoId: '25N1pdzvp4c',
          playerVars: this.playerVars,
          events: {
            'onReady': onPlayerReady,
            //'onPlaybackQualityChange': onPlayerPlaybackQualityChange,
            'onStateChange': onPlayerStateChange,
            //'onError': onPlayerError
          }
        });
      }

      function onPlayerReady(event) {
        console.log("Ready!", event)
      }

      var done = false;
      function onPlayerStateChange(event) {
        console.log(event.data)
      }

      function stopVideo() {
        this.player.stopVideo();
      }
    </script>

  </body>
</html>
